body {
  font-family: "Kanit", sans-serif;
}

h{
  font-family: "Kanit", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
html,
body {
  background-color:#fff
}

#map {
  height: 50vh;
  width: 100%;
  /* border-radius: 10px; */
}

#chart{
  height: 60vh;
  width: 100%;
}
.mb1 {
  margin-bottom: 1em;
}

.mb2 {
  margin-bottom: 2em;
}

.ver{
  font-size: 10px;
}

td.highlight {
  background-color: whitesmoke !important;
}

.chartHist{
  width: 100%;
  height: 200px;
}